NODE_ENV=development
PORT=5102

PDV7_DB_SERVER=localhost\PDV7
PDV7_DB_NAME=pdv7
PDV7_DB_USER=pdv7
PDV7_DB_PASS=pdv@77

CHAVE_USUARIO=9933
CAIXA_PDV=
CONFIRMACAO_AUTOMATICA=1

KEETA_CLIENT_ID=
KEETA_CLIENT_SECRET=